
body{
    background-color: gold;
}
.complete{
    /* margin: 0; */
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    display: inline-block;
}
.leftTotal{
    background-color: hsl(234, 85%, 45%); 
    color: white;
    text-align: center;
    border-radius:10px;
    padding: 20px;
    height:200px;
    width: 200px;

}
.Total{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: hsl(252, 100%, 67%);
    text-align: center;
    margin:auto;
}
.summary{
    background-color: blueviolet;
}
